<!--Here I will show my episodes -->
{% extends 'base.html' %}
{% block episode_new %}

  <div class="row mb-4">
    <div class="col-sm-12">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-8 shadow-sm h-md-25 position-relative">
      	{% for episode in page_obj %}
        <div class="col p-2 d-flex flex-column position-static">
          <h3 class="mb-2">{{ episode.title}}</h3>
          <a href="{{ episode.url }}" class="stretched-link">Download</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% include 'pag.html' %}
{% endblock %}